#root{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  #drum-machine{
    width: 400px;
    height: 300px;
    border: 2px solid lightgray;
    background-color: GhostWhite;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    #display{
      border-radius: 3px;
      background-color: MediumSeaGreen;
      color: Navy;
      font-weight: 800;
      width: 50%;
      height: 40px;
      margin: 10px auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #drum-pad{
      margin: 5px;
      flex-grow: 1;
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      .drum-pad{
        border-radius: 2px;
        background-color: MediumSlateBlue;
        color: Chartreuse;
        font-weight: 700;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}